@font-face {
  font-family: "D7MI";
  src: url("fonts/DSEG7Modern-Italic.woff") format('woff');
}

@font-face {
  font-family: "D14MI";
  src: url("fonts/DSEG14Modern-Italic.woff") format('woff');
}

@font-face {
  font-family: "D7MBI";
  src: url("fonts/DSEG7Modern-BoldItalic.woff") format('woff');
}

body
{
	color: orange;
	background-color: black;
	transform: rotateY( 180deg );
}

div#clock_frame
{
	width: 100%;
}

span
{
	display: block;
	text-align: center;
	font-family: "D7MBI";

}

span#clock_date
{
	padding-top: 0.1em;
	text-align: right;
	font-size: 0.5em;
	padding-right: 0.5em;
}

span#clock_time
{
	padding-top: .8em;
	font-size: 2em;
	color: orange;
		text-shadow: 0 0 30px orange,0 0 40px orange;
}
